<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabriel Fontes | {{ page.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <link rel="canonical" href="https://{{ site.domain }}{{ page.url }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    {% if page.noindex == true %} <meta name="robots" content="noindex"> {% endif %}

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/colors/{{ site.default_theme }}.css" />
    <link rel="stylesheet" id="theme-css" />
    <link rel="icon" href="data:,">
    <script src="/assets/main.js"></script>
  </head>
  <body>
    {{ content | extlinks}}
  </body>
</html>
