---
has_gemini: false
layout: default.html
---

{% assign disciplinas = site.data.disciplinas[page.turma] %}

<h2>Horários</h2>
  <h3>Segunda</h3>
    {% assign d_segunda = disciplinas | where_exp: "disciplina", "disciplina.aulas.segunda" | nested_sort: "aulas.segunda.inicio" %}
    <ul>
    {% for d in d_segunda %}
      <li>
        <b>{{ d.aulas.segunda.inicio }} - {{ d.aulas.segunda.fim }}</b>:
        <a href="#{{ d.codigo }}">{{ d.nome }}</a>
        {% if d.optativa %}(optativa){% endif %}
      </li>
    {% endfor %}
    </ul>
  <h3>Terça</h3>
    {% assign d_terca = disciplinas | where_exp: "disciplina", "disciplina.aulas.terca" | nested_sort: "aulas.terca.inicio" %}
    <ul>
    {% for d in d_terca %}
      <li>
        <b>{{ d.aulas.terca.inicio }} - {{ d.aulas.terca.fim }}</b>:
        <a href="#{{ d.codigo }}">{{ d.nome }}</a>
        {% if d.optativa %}(optativa){% endif %}
      </li>
    {% endfor %}
    </ul>
  <h3>Quarta</h3>
    {% assign d_quarta = disciplinas | where_exp: "disciplina", "disciplina.aulas.quarta" | nested_sort: "aulas.quarta.inicio" %}
    <ul>
    {% for d in d_quarta %}
      <li>
        <b>{{ d.aulas.quarta.inicio }} - {{ d.aulas.quarta.fim }}</b>:
        <a href="#{{ d.codigo }}">{{ d.nome }}</a>
        {% if d.optativa %}(optativa){% endif %}
      </li>
    {% endfor %}
    </ul>
  <h3>Quinta</h3>
    {% assign d_quinta = disciplinas | where_exp: "disciplina", "disciplina.aulas.quinta" | nested_sort: "aulas.quinta.inicio" %}
    <ul>
    {% for d in d_quinta %}
      <li>
        <b>{{ d.aulas.quinta.inicio }} - {{ d.aulas.quinta.fim }}</b>:
        <a href="#{{ d.codigo }}">{{ d.nome }}</a>
        {% if d.optativa %}(optativa){% endif %}
      </li>
    {% endfor %}
    </ul>
  <h3>Sexta</h3>
    {% assign d_sexta = disciplinas | where_exp: "disciplina", "disciplina.aulas.sexta" | nested_sort: "aulas.sexta.inicio" %}
    <ul>
    {% for d in d_sexta %}
      <li>
        <b>{{ d.aulas.sexta.inicio }} - {{ d.aulas.sexta.fim }}</b>:
        <a href="#{{ d.codigo }}">{{ d.nome }}</a>
        {% if d.optativa %}(optativa){% endif %}
      </li>
    {% endfor %}
    </ul>

<hr />

{% for d in disciplinas %}
  <h2 id="{{ d.codigo }}">
    <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis={{ d.codigo }}">
      {{ d.codigo }}
    </a>
    - {{ d.nome }}
    <a href="#{{ d.codigo }}"><small>{% include icons/mdi/anchor.svg %}</small></a>
  </h2>
  <p>
    <b>Tipo</b>:
    {% if d.optativa %}
      Optativa
    {% else %}
      Obrigatória
    {% endif %}
  </p>
  <p>
    <b>Prof</b>:
    {{ d.professor.nome }}
    (<a href="mailto:{{ d.professor.email }}">{{ d.professor.email }}</a>)
  </p>
  <p>
    <b>Plataforma</b>:
    {% if d.plataforma.url %}<a href="{{ d.plataforma.url }}">{% endif %}
      {% if d.plataforma.info %}
        {{ d.plataforma.info }}
      {% else %}
        TBD
      {% endif %}
    {% if d.plataforma.url %}</a>{% endif %}
  </p>
  <p>
    <b>Sala</b>:
    {% if d.sala.url %}<a href="{{ d.sala.url }}">{% endif %}
      {% if d.sala.info %}
        {{ d.sala.info }}
      {% else %}
        TBD
      {% endif %}
    {% if d.sala.url %}</a>{% endif %}
  </p>
  <p>
    <b>Presença</b>:
    {% if d.presenca.url %}<a href="{{ d.presenca.url }}">{% endif %}
      {% if d.presenca.info %}
        {{ d.presenca.info }}
      {% else %}
        TBD
      {% endif %}
    {% if d.presenca.url %}</a>{% endif %}
  </p>
  {% if d.avaliacoes %}
    <h3>Avaliações</h3>
      {% if d.avaliacoes.provas %}
        <h4>Provas</h4>
          <ul>
            {% for p in d.avaliacoes.provas %}
              <li>{{ p.data }}: {{ p.assunto }}</li>
            {% endfor %}
          </ul>
      {% endif %}
      {% if d.avaliacoes.atividades %}
        <h4>Atividades</h4>
          <ul>
            {% for a in d.avaliacoes.atividades %}
              <li>{{ a.data }}: {{ a.assunto }}</li>
            {% endfor %}
          </ul>
      {% endif %}
  {% endif %}
{% endfor %}
